/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #da8a8b;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for calculator container */
.calculator {
    background-color: #101b39;
    width: 400px;
    height: 560px;
    margin: 60px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px black;
    padding: 40px;
}

/* Styles for the display */
.display {
    background-color: #fff;
    height: 85px;
    border-radius: 5px;
    margin-bottom: 25px;
    text-align: right;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.display .prev {
    font-size: 20px;
    margin: 5px 10px 20px 0;
}

.display .current {
    font-size: 35px;
    margin-right: 10px;
}

/* Styles for the buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons button {
    color: #fff;
    font-size: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.all-clear {
    background-color: #a44322;
}

.all-clear:hover {
    background-color: darkred;
}

.delete {
    background-color: #155e89;
}

.delete:hover {
    background-color: darkblue;
}

.number {
    background-color: #4a478a;
}

.number:hover {
    background-color: #1a2c80;
}

.operator, .equals {
    background-color: #f8bc04;
}

.operator:hover, .equals:hover {
    background-color: #FFD580;
}

/* Styles for the footer */
.footer {
    background-color: #f5d5e0;
    height: 65px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}